/* ===== Light 模式色系 ===== */
:root {
  --ifm-color-primary: #000000;     /* 主色（藍）*/
  --ifm-color-primary-dark: #000000;
  --ifm-color-primary-darker: #000000;
  --ifm-color-primary-light: #000000;
  --ifm-color-primary-lighter: #000000;

  --ifm-navbar-background-color: #ffffff; /* 導覽列背景 */
  --ifm-link-color: var(--ifm-color-primary);
}

/* ===== Dark 模式色系 ===== */
html[data-theme='dark'] {
  --ifm-color-primary: #ffffff;     /* 深色模式主色稍微提亮 */
  --ifm-color-primary-dark: #ffffff;
  --ifm-color-primary-darker: #ffffff;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;

  --ifm-navbar-background-color: #0b1220;
  --ifm-link-color: var(--ifm-color-primary);
}


/*（可選）卡片與陰影、圓角微調 */
:root {
  --ifm-card-background-color: #ffffff;
  --ifm-global-radius: 12px;
}
html[data-theme='dark'] {
  --ifm-card-background-color: #000000;
}


